@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot");
    src: url("../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff2") format("woff2"), url("../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.woff") format("woff"), url("../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.ttf") format("truetype"), url("../assets/fonts/HelveticaNeue-Bold/HelveticaNeue-Bold.svg#HelveticaNeue-Bold") format("svg");
}

@font-face {
    font-family: "HelveticaNeue-55-Roman";
    src: url("../assets/fonts/HelveticaNeue-55-Roman/HelveticaNeue-55-Roman.eot");
    src: url("../assets/fonts/HelveticaNeue-55-Roman/HelveticaNeue-55-Roman.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/HelveticaNeue-55-Roman/HelveticaNeue-55-Roman.woff2") format("woff2"), url("../assets/fonts/HelveticaNeue-55-Roman/HelveticaNeue-55-Roman.woff") format("woff"), url("../assets/fonts/HelveticaNeue-55-Roman/HelveticaNeue-55-Roman.ttf") format("truetype"), url("../assets/fonts/HelveticaNeue-55-Roman/HelveticaNeue-55-Roman.svg#HelveticaNeue-55-Roman") format("svg");
}

.message__wrapper {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    flex: 1 1 100%;
    height: auto;
    overflow-y: auto;
    /* min-height: 100vh; */
    width: 100vw;
}

.message__wrapper__block {
    display: block;
}

.message_image__wrapper {
    flex: 100%;
}

.message_text__wrapper {
    padding: 12px 10px;
    background: #DDDDDD;
    border-radius: 6px;
    position: relative;
    margin: 33px 0 20px;
}

.message_text__wrapper::before {
    position: absolute;
    content: "";
    right: calc(50% - 28px);
    top: -20px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #DDDDDD;
    border-right: 28px solid transparent;
}

.message_avatar__wrapper {
    width: 100%;
    text-align: center;
}

.message_avatar {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-size: contain;
    background-image: url("../assets/images/Avatar.png");
}

.message_title {
    color: #000000;
    font-size: 18px;
    font-family: "HelveticaNeue-Bold";
    letter-spacing: -0.2px;
    line-height: 20px;
    margin: 0 0 8px;
}

.message_text {
    max-height: 340px;
    overflow: hidden;
    color: #000000;
    font-family: "HelveticaNeue-55-Roman";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
    margin: 0;
}

.submit_btn__wrapper {
    margin: 43px 0 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}

.submit_btn {
    text-align: center;
    width: 100%;
    height: 40px;
    color: #FFFFFF;
    font-family: "HelveticaNeue-Bold";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
    border: none;
    background-color: #CCCCCC;
    pointer-events: none;
}

.active .submit_btn {
    background-color: #F16E00;
    pointer-events: auto;
}

.question__wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.question_label {
    font-family: "HelveticaNeue-Bold";
    color: #666666;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 16px;
    margin: 0 0 23px;
}

.question_title {
    word-break: break-all;
    color: #000000;
    font-family: "HelveticaNeue-Bold";
    font-size: 18px;
    letter-spacing: -0.2px;
    line-height: 20px;
    margin: 10px 0 16px;
}

.question_checkbox {
    margin: 0 0 15px;
}

.question_checkbox input[type=checkbox] {
    display: none;
}

.question_checkbox_label {
    display: inline-block;
    min-height: 20px;
    background: url("../assets/images/sprites/checkbox.png") no-repeat;
    background-position: -10px -10px;
    padding-left: 30px;
    color: #000000;
    font-family: "HelveticaNeue-Bold";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

.question_checkbox input[type=checkbox]:checked+.question_checkbox_label {
    background-position: -10px -50px;
}

.question_radio {
    display: inline-block;
    margin: 0 15px 0 0;
}

.question_radio input[type=radio] {
    display: none;
}

.question_radio_label {
    color: #000000;
    font-family: "HelveticaNeue-Bold";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
    min-height: 20px;
    background: url("../assets/images/sprites/radio.png") no-repeat;
    background-position: -10px -10px;
    padding-left: 30px;
    display: inline-block;
}

.question_radio input[type=radio]:checked+.question_radio_label {
    background-position: -10px -50px;
}

.feedback_wrapper input[type=radio] {
    display: none;
}

.rating__wrapper {
    padding: 10px 0 14px 0;
}

.range_wrapper {
    padding: 23px 10px 15px 10px;
    overflow-x: hidden;
}

.emotions_wrapper {
    display: flex;
    justify-content: space-between;
}

.emotions_icon {
    background-image: url("../assets/images/sprites/emotions.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.emotions_icon__1 {
    background-position: -10px -10px;
}

.emotions_icon__1:hover, .emotions_icon__1:active, .emotions_icon__1:focus {
    background-position: -70px -10px;
}

.feedback_wrapper input[type=radio]:checked+.emotions_icon__1 {
    background-position: -70px -10px;
}

.emotions_icon__2 {
    background-position: -10px -90px;
}

.emotions_icon__2:hover, .emotions_icon__3:active, .emotions_icon__3:focus {
    background-position: -70px -90px;
}

.feedback_wrapper input[type=radio]:checked+.emotions_icon__2 {
    background-position: -70px -90px;
}

.emotions_icon__3 {
    background-position: -10px -170px;
}

.emotions_icon__3:hover, .emotions_icon__3:active, .emotions_icon__3:focus {
    background-position: -70px -170px;
}

.feedback_wrapper input[type=radio]:checked+.emotions_icon__3 {
    background-position: -70px -170px;
}

.emotions_icon__4 {
    background-position: -10px -250px;
}

.emotions_icon__4:hover, .emotions_icon__4:active, .emotions_icon__4:focus {
    background-position: -70px -250px;
}

.feedback_wrapper input[type=radio]:checked+.emotions_icon__4 {
    background-position: -70px -250px;
}

.emotions_icon__5 {
    background-position: -70px -330px;
}

.emotions_icon__5:hover, .emotions_icon__5:active, .emotions_icon__5:focus {
    background-position: -10px -330px;
}

.feedback_wrapper input[type=radio]:checked+.emotions_icon__5 {
    background-position: -10px -330px;
}

.irs--flat .irs-min, .irs--flat .irs-max {
    background-color: transparent;
    border-radius: 0;
    font-family: "HelveticaNeue-55-Roman";
    color: #000000;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 16px;
    margin-top: -7px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
    margin-top: -16px;
    color: #F16E00;
    font-size: 10px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 5px;
    background-color: transparent;
    border-radius: 0;
    font-family: "HelveticaNeue-Bold";
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 26px;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    display: none;
}

.irs--flat .irs-line {
    height: 6px;
    background-color: #eeeeee;
    border-radius: 0;
}

.irs--flat .irs-bar {
    height: 6px;
    background-color: #F16E00;
}

.irs--flat .irs-handle {
    border: 2px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -5px;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
    background-color: transparent;
}

.question_range_label__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 9px 0;
}

#questionRangeValue {
    display: none;
}

.question_range_label {
    display: inline-block;
    color: #000000;
    font-family: "HelveticaNeue-Bold";
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 16px;
}

.question_range_number {
    display: inline-block;
    font-family: "HelveticaNeue-55-Roman";
    color: #000000;
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 16px;
}

.question_range__wrapper {}

.question_range_value {
    left: calc(50% - 9px);
    position: relative;
    transform-origin: center center;
    color: #F16E00;
    font-family: "HelveticaNeue-Bold";
    font-size: 24px;
    letter-spacing: -0.5px;
    line-height: 26px;
    display: block;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    text-align: center;
    margin-left: -3px;
}

.question_input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    border: 2px solid #CCCCCC;
    padding: 10px;
    color: #000000;
    font-family: "HelveticaNeue-55-Roman";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

.question_textarea {
    height: 110px;
}

.question_input::-webkit-input-placeholder {
    color: #666666;
    font-family: "HelveticaNeue-55-Roman";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

.question_input:-moz-placeholder {
    color: #666666;
    font-family: "HelveticaNeue-55-Roman";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

.question_input::-moz-placeholder {
    color: #666666;
    font-family: "HelveticaNeue-55-Roman";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

.question_input:-ms-input-placeholder {
    color: #666666;
    font-family: "HelveticaNeue-55-Roman";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

.question_input::placeholder {
    color: #666666;
    font-family: "HelveticaNeue-55-Roman";
    font-size: 16px;
    letter-spacing: -0.1px;
    line-height: 18px;
}

.message_input__wrapper {}

.message_input {
    height: 40px;
    margin: 0 0 10px;
}

.warning_block__wrapper {
    margin: 24px 0 10px 0;
}

.warning_block {
    color: #000000;
    font-family: "HelveticaNeue-Bold";
    font-size: 14px;
    letter-spacing: -0.1px;
    line-height: 16px;
}